@tailwind base;
@tailwind components;
@tailwind utilities;


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/*///////////////////ПЕРЕМЕННЫЕ ДЛЯ TAILWIND///////////////*/

:root {
  --header-height: 64px
}


/*/////////////////*/

.ant-picker-calendar-mode-switch {
  display: none;
}

.ant-picker-calendar-header {
  /* height: 48px; */
  /* background-color: rgb(241 245 249); */
  margin: 0 15px 5px 0;
  /* border-bottom: 3px solid rgb(241 245 249); */
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  height: 100px;
}

.ant-picker-calendar-date-value {
  height: 15px;
}

@media (max-width: 1366px) {
  .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    max-height: 68px;
  }
}

@media (max-width: 1280px) {
  .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    max-height: 74px;
  }
}


/*////////////////////////////////////////// FOR MOBILE////////////////////////////////////////////*/
@media (max-width: 641px) {
  .ant-picker-calendar-header {
    margin: 2px 2px;

  }

  .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    max-height: 80px;
    /* position: absolute; */
    /* margin-top: -15px; */
  }

  .ant-form-item {
    margin-bottom: 8px;
  }

  .ant-layout-header {
    padding-inline: 25px
  }

  .mobile-background {
    background-image: url("../../public/images/background2.jpg");
    background-position: center;
    background-blend-mode: screen;
    background-size: cover;

  }

}

/*//////////////////////////////////////////////////////////////for iphone 12 mini!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-height: 668px) {
  .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    max-height: 63px;
  }

}

/*/////////////////////////////////////////////////////////////////////*/

/* .mobile-background {
  background-image: url("../../public/images/background2.jpg");
  background-position: center;
  background-blend-mode: screen;
  background-size: cover;
  
} */
